@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(231, 221, 221);
    background-image: url(4.jpg);
  
    
}
.logins-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border-radius: 20px;
    padding:70px 20px;
    backdrop-filter: blur(15px);
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;

}
.input-box{
    width: 310px;
    margin: 30px;
    border-bottom: 2px solid #fff;

}
.input-box label{
position: absolute;
top: 50%;
left: 50px;
transform: translateY(-50%);
font-size: 1em;
color: #fff;
pointer-events: none;
transition: .5s;

}


.input-box input:focus~label,
.input-box input:valid~label{
left: 2px;
}


.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 50px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;

}
.ee{
 margin-right: 20%;
    padding-bottom: 40%;
    
}
 
.imges{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 100px;
    padding: 5px;
    text-align: center;
    margin-left: 10%;
}
.xx{
    margin-left: 8%;
}
.remember-forgot{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;

}
.remember-forgot label input{
    margin-right: 3px;

}
.remember-forgot a{
    text-decoration: none;
    color: #fff;
    margin-right: 6%;
    
}
.remember-forgot a:hover{
   text-decoration: underline; 
}
button{
    width: 95%;
    height: 37px;
    background: #fff;
border: none;
outline: none;
border-radius: 40px;
cursor: pointer;
font-size: 1em;
color: black;
font-weight: 500;
box-shadow:0px 0px 5px blue, 0px 0px 8px #858585 ;
transition: 0.5s;
}
 button:hover{
    background-color: transparent;
    outline: none;
    border: #fff;
    transform: scale(1.1);
 }


.register-link{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
    
}

button a{
    text-decoration: none;
}
@media(max-width: 528px){
    .logins-box{
        width: 350px;
        height: 400px;
        border-radius: 30px;
    }
}
